{% extends 'PortalBundle::base.html.twig' %}
{% block title %}
    Diabetes Portal - Patient Search
{% endblock %}
{% block header_styles %}
    <link href="{{ asset('bundles/portal/css/main.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('bundles/portal/css/patientSearch.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
<article class="body">
    <h2>Patient Search</h2>
    <section>
        <form id="searchForm" action="main.php">
            <fieldset>
                <label class="field">First Name:</label><input type="text"/><br/>
                <label class="field">Last Name:</label><input type="text"/><br/>
                <label class="field">Date of Birth:</label><input type="date"/><br/>
                <label class="field">MRN:</label><input type="text"/><br/>
                <input type="submit" value="Find">
            </fieldset>
        </form>
    </section>
</article>
<br/>
<article id="searchResults" style="display: none;" class="body">
    <h2>Search Results</h2>
    <section>
        <fieldset>
            <table>
                <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Date of Birth</th>
                    <th>MRN</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Joe</td>
                    <td>Bloggs</td>
                    <td>21-Feb-2003</td>
                    <td><a href="{{ path('patient_dashboard', {'id':'0'}) }}">56452354</a></td>
                    <td>
                        <button class="button-review" type="submit" value="12345" name="patientId">New Review</button>
                        <button class="button-admin" type="submit" value="12345" name="patientId">New Admission</button>
                        <button class="button-telephone" type="submit" value="12345" name="patientId">New Call</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </fieldset>
    </section>
</article>

{{ include('PortalBundle:Patient/Common:dialog_admission.html.twig') }}
{{ include('PortalBundle:Patient/Common:dialog_review.html.twig') }}
{{ include('PortalBundle:Patient/Common:dialog_telephone.html.twig') }}
{% endblock %}

{% block footer_js %}
<script type="text/javascript">
    $("#searchForm").submit(function(){
        $("#searchResults").fadeIn('slow');
        return false;
    });

    $(function () {
        $(".button-review").click(function(){
            $("#dialog-review").dialog('open');
        });

        $(".button-admin").click(function(){
            $("#dialog-admission").dialog('open');
        });

        $(".button-telephone").click(function(){
            $("#dialog-telephone").dialog('open');
        });
    });
</script>
{% endblock %}