{% extends 'PortalBundle::base.html.twig' %}
{% block title %}
    Diabetes Portal - Routine Review
{% endblock %}
{% block header_styles %}
    <link href="{{ asset('css/review.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('css/jquery.handsontable.full.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
{% block header_js %}
    <script src="{{ asset('js/jquery.handsontable.full.js') }}"></script>
{% endblock %}

{% block body %}
    <article id="PatientSummary" class="body">
        <header>
            <img src="{{ asset('images/injection_logo_36.png') }}" alt="Injections Logo" style="float: right;"/>
            <h2>Routine Visit (Injections)</h2>
            <div style="clear: both;"/>
        </header>
        {{ include('PortalBundle:Patient/Common:patient_summary.html.twig') }}
        {{ include('PortalBundle:Patient/Encounter:encounter_common.html.twig') }}
    </article>
    <br/>
    <article id="ReviewDetails" class="body">
        <section>
            <form id="reviewForm" action="{{ path('patient_dashboard', {'id': id}) }}" method="post">
                <fieldset>
                    <input type="submit" value="Save" style="float: right; margin-top: 5px; margin-right: 10px; "/>
                    <div id="reviewMenu"class="jqueryslidemenu">
                        <ul>
                            <li><a href="#" onclick="showForm(event, 'doc_main_form')" class="currentForm">Review Notes</a></li>
                            <li><a href="#" onclick="showForm(event, 'doc_injection_form')">Injections</a></li>
                            <li><a href="#" onclick="showForm(event, 'doc_carb_ratios')">Carb. Ratios</a></li>
                            <li><a href="#" onclick="showForm(event, 'nurse_notes')">Nurse Notes</a></li>
                            <li><a href="#" onclick="showForm(event, 'dietitian_notes')">Dietitian Notes</a></li>
                            <li><a href="#" onclick="showForm(event, 'doc_review_comments')">Comments</a></li>
                        </ul>
                        <br style="clear: left" />
                    </div>
                </fieldset>
                <fieldset id="doc_main_form"  class="reviewSubForm">
                    {{ include('PortalBundle:Patient/Encounter:doc_main_form.html.twig') }}
                </fieldset>
                <fieldset id="doc_injection_form" style="display: none;"  class="reviewSubForm">
                    {{ include('PortalBundle:Patient/Encounter:doc_injection_form.html.twig') }}
                </fieldset>
                <fieldset id="doc_carb_ratios" style="display: none;" class="reviewSubForm">
                    {{ include('PortalBundle:Patient/Encounter:doc_carb_ratios.html.twig') }}
                </fieldset>
                <fieldset id="nurse_notes" style="display: none;" class="reviewSubForm">
                    {{ include('PortalBundle:Patient/Encounter:nurse_notes.html.twig') }}
                </fieldset>
                <fieldset id="dietitian_notes" style="display: none;" class="reviewSubForm">
                    {{ include('PortalBundle:Patient/Encounter:dietitian_notes.html.twig') }}
                </fieldset>
                <fieldset id="doc_review_comments" style="display: none;" class="reviewSubForm">
                    {{ include('PortalBundle:Patient/Encounter:doc_review_comments.html.twig') }}<s></s>
                </fieldset>
            </form>
        </section>
    </article>
{% endblock %}