<!DOCTYPE  html>
<html lang="en" class="no-js">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="{{ asset('images/favicon.ico') }}" rel="shortcut icon" type="image/x-icon"/>
    <title>{% block title %}Diabetes Portal{% endblock %}</title>
    <!-- Styles   -->
    <link href="{{ asset('css/base/jquery-ui.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('css/jqueryslidemenu.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('css/main.css') }}" rel="stylesheet" type="text/css">
    {% block header_styles %}{% endblock %}

    <!-- JavaScript Files    -->
    <script src="{{ asset('js/jquery-1.10.2.min.js') }}"></script>
    <script src="{{ asset('js/jquery-ui.custom.min.js') }}"></script>
    <script src="{{ asset('js/modernizr-latest.js') }}"></script>

    <script>
        var arrowimages = { down: ['downarrowclass', '{{ asset('images/down.gif') }}', 23], right: ['rightarrowclass', '{{ asset('images/right.gif') }}'] };
    </script>
    <script src="{{ asset('js/jqueryslidemenu.js') }}"></script>
    {% block header_js %}{% endblock %}
</head>
<!--[if lt IE 9 ]>
<body id="index" class="home ieLegacy"> <![endif]-->
<!--[if (gt IE 8)|!(IE)]><!-->
<body id="index" class="home">
<!--<![endif]-->
<header id="banner" class="body">
    {% if app.user %}
        <section style="float:right; text-align: right; font-size: 12px;">
            {{ app.user.username }} MCN: 1234576 <a href="{{ path('portal_logout') }}">logout</a> <br/>
            Temple Street<br/>
            {{"now"|date('d/M/Y')}}
        </section>
    {% endif %}

    <section>
        <img src="{{ asset('images/hse-logo.png') }}" alt="HSE logo" style="float: left;"/>
        <hgroup>
            <h1>Feidhmeannacht na Seirbhíse Sláinte</h1>
            <h1>Health Service Executive</h1>
            <h1>Irish Pediatric Diabetes Portal</h1>
        </hgroup>
    </section>

    {% if app.user %}
        {{ include('PortalBundle:Common:menu.html.twig') }}
    {% endif %}
</header>

{% block body %}
{% endblock %}

</body>
<script type="text/javascript">
    //Specify full URL to down and right arrow images (23 is padding-right to add to top level LIs with drop downs):
    //var arrowimages={down:['downarrowclass', '../../images/down.gif', 23], right:['rightarrowclass', '../../images/right.gif']}
    $(".mainMenu").each(function(){
        var currentId = $(this).attr('id');
        jqueryslidemenu.buildmenu(currentId, arrowimages);
    });
</script>
{% block footer_js %}{% endblock %}
</html>